<h1>New member</h1>

<%= error_messages_for :member %>

<% form_for(:member, :url => members_path) do |f| %>
  <p>
    <b>Printed name</b><br />
    <%= f.text_field :printed_name %>
  </p>

  <p>
    <b>Printed address</b><br />
    <%= f.text_field :printed_address %>
  </p>

  <p>
    <b>Phone</b><br />
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', members_path %>